* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90vw;
    margin: auto;
}

.head, .space {
    height: 100px;
}

.logo {
    width: 135px;
    vertical-align: middle;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navigation {
    background-color: #65CFFF;
    padding: 20px 0;

}

.menu {
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: #000000;
    margin-left: 25px;
    font-weight: bold;
}

.menu a:hover {
    color: #ffffff;
}

.cover {
    background-image: linear-gradient(rgba(15, 15, 15, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cover.jpg);
    background-size: cover; 
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* image from https://aecom.com/projects/new-space-university-of-newcastle/ */

.roadmap {
    padding: 100px 0;
    
}

.roadmap img {
    width: 100%;
    box-shadow: 1px 2px 3px 1px #bebebe;
}

.cover-text {
    text-align: center;
    color: #ffffff;
}

.cover-text h2 {    
    font-size: 50px;
    text-shadow: 2px 2px 2px #0000003d;    
    font-weight: bold;
}

.cover-text p {
    font-size: 20px;
}

.learn, .things {
    padding-bottom: 100px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 2px 2px #0000003d;    
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.card {
    background-color: blanchedalmond;
    height: 400px;
}

.things-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.t-card {
    background-color: beige;
    height: 200px;
}

.footer {
    background: #65CFFF;
    height: 400px;
}

.copyright {
    text-align: center;
    color: #ffffff;
    background: #2E4C85;
    padding: 15px;
}

.hero {
    background-image: linear-gradient(rgba(15, 15, 15, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cover.jpg);
    background-size: cover; 
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: #ffffff;
}

.hero-text h2 {    
    font-size: 50px;
    text-shadow: 2px 2px 2px #0000003d;    
    font-weight: bold;
}